<a href="https://colab.research.google.com/github/archlao/datasharing/blob/master/LP_T4Teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 

<br>
<br>

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1> 
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1> 

# Exercício T4

<br>
<br>

---

# Analise dados do mercado de trabalho



<img src="https://www.glassdoor.com/about-us//app/uploads/sites/2/2018/06/Group-7.png" width=300>

Aqui você vai empregar uma base de dados da [glassdoor](https://www.glassdoor.com/about/) com informações reais do mercado de trabalho de 1000 funcionários de uma empresa. Empregue esses dados, e o que você aprendeu sobre `Python` e as  bibliotecas `Pandas`, `Matplotlib` e `Seaborn`, para implementar uma análise de dados trazendo *insights* sobre esses para a empresa.

Por **exemplo**, se o nosso dataset fosse sobre despesas em um grande restaurante como abaixo.

In [ ]:
#@markdown
import seaborn as sns

xyz = sns.load_dataset('tips')
xyz.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Você poderia buscar *insights* sobre se o restaurante tem uma receita maior com clientes fumantes, ou ainda se mesas com fumantes são em média mesas com maior número de lugares, para tomar decisões quanto a onde construir uma nova área reservada para fumantes. Você poderia também fazer um gráfico de para verificar a distribuição do tamanho de mesas ao longo dos dias da semana para tomar uma decisão sobre a organização do espaço do restaurante. Essas análises você pode facilmente construir a partir de seleções e visualizações dos dados em `Python`.

Empregue a base `glassdoor` a seguir e **implemente**:

1. **Ao menos duas seleções de dados; e**

2. **Uma visualização (um gráfico)** 

que tragam *insights* valiosos e relevantes para a empresa. **Para cada uma faça um pequeno parágrafo, 4-5 linhas, compartilhando sua análise e conclusões**.

In [ ]:
import pandas as pd

data = pd.read_csv('http://meusite.mackenzie.br/rogerio/TIC/Projects/glassdoordata.csv')
data.head()

,jobtitle,gender,age,performance,education,department,seniority,income,bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319

## Referências úteis para este Lab

Você pode acessar soluções na internet, mas tenha certeza de que os códigos que encontrar façam sentido para você. 

Você também pode achar útil e fácil consultar, além das notas de aula as seguintes referências:

* [Basic Python Tutorial](https://www.w3schools.com/python/)
* [Pandas Cheat Sheet for Data Science in Python](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

# Seu Código aqui.

In [ ]:
# Seu código